<div class="row justify-content-center">
    <div class="col"><app-dropdown [items]="categories" [firstOptionText]="'Select a Category'"
            (itemSelected)="handleCategorySelect($event)"></app-dropdown></div>
    <div class="col"><app-dropdown *ngIf="subCategories.length > 0" [items]="subCategories"
            [firstOptionText]="'Select a Sub Category'"
            (itemSelected)="handleSubCategorySelected($event)"></app-dropdown></div>

    <div class="card-container">
        <div class="card-item" *ngFor="let product of filteredProducts">
            <app-product-card [item]="product"></app-product-card>
        </div>
    </div>
</div>