<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Therapeutic Categories" class="justify-content-center" [options]="false">
            <div class="col-md-6 offset-md-6 m-b-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" />
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Competitor Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact No</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let competitor of competitors" >
                        <th scope="row">{{competitor.id}}</th>
                        <td>{{competitor.competitorName}}</td>
                        <td>{{competitor.email}}</td>
                        <td>{{competitor.contactNo}}</td>
                        <td>{{competitor.remarks}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshCountries()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshCountries()">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            </div>
        </app-card>
    </div>
</div>