<div class="row">
    <div class="col-xl-12 col-md-12">
        <app-card cardTitle="Products Comparision" cardClass="Recent-Users" blockClass="px-0 py-3">
            <div class="row">
                <div class="col-md-4 text-end">
                    <div class="text-center">
                        <img [src]="imagePathLocal" class="card-img-top fixed-size-image" alt="Product Image">
                    </div>
                    <div class="text-center text-primary fw-bold">
                        LOWPRESS
                    </div>
                    <div class="text-center text-dark">
                        Gamma Pharmaceuticals (pvt) Ltd
                    </div>
                    <div class="text-center">
                        Mf: <span class="fw-bold text-dark">24-05-2014</span> and Exp: <span class="fw-bold text-dark">24-05-2025</span>
                    </div>
                    <div class="text-center">
                        Batch No :
                        <span class="text-primary fw-bold">
                            03403920029203
                        </span>                        
                    </div>
                </div>
                <div class="col-md-4 text-center text-middle f-18 b">
                    <label class="text-dark fw-bolder">Vs</label>
                    <br />
                    <label class="text-success fw-bold">LOSARTAN POTASSIUM</label>
                    
                </div>
                <div class="col-md-4 text-start">
                    <div class="text-center">
                        <img [src]="imagePathCompetitor" class="card-img-top fixed-size-image" alt="Product Image">
                    </div>
                    <div class="text-center text-danger fw-bold">
                        LOSACAR
                    </div>
                    <div class="text-center text-dark">
                        Hemas Pharmaceuticals (Pvt) Ltd.
                    </div>
                    <div class="text-center">
                        Mf: <span class="fw-bold text-dark">24-05-2014</span> and Exp: <span class="fw-bold text-dark">24-05-2025</span>
                    </div>
                    <div class="text-center">
                        Batch No :
                        <span class="text-danger fw-bold">
                            hms003920029203234
                        </span>                        
                    </div>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-11 m-l-40">
                    <table class="table table-hover">                        
                        <tbody>
                            <tr>
                                <td class="text-end text-primary fw-bold" width="35%">Gamma Pharmaceuticals (pvt) Ltd</td>
                                <td class="text-center fw-bold" width="30%">Manufacturer</td>
                                <td class="text-start text-danger fw-bold" width="35%">Zydus Cadila</td>
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">Gamma</td>
                                <td class="text-center fw-bold">Local agent / Distributor</td>
                                <td class="text-start text-danger fw-bold">Sunshine</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">Losartan potassium</td>
                                <td class="text-center fw-bold">Active Ingredients</td>
                                <td class="text-start text-danger fw-bold">Losartan potassium</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">Losartan Potassium Usp 50mg</td>
                                <td class="text-center fw-bold">Composition/Strength</td>
                                <td class="text-start text-danger fw-bold">Losartan Potassium Usp 50mg</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">30</td>
                                <td class="text-center fw-bold">Pack Size</td>
                                <td class="text-start text-danger fw-bold">105</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">246.52</td>
                                <td class="text-center fw-bold">Whole Sale Price</td>
                                <td class="text-start text-danger fw-bold">1826.03</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold ">283.50</td>
                                <td class="text-center fw-bold">Retail Price</td>
                                <td class="text-start text-danger fw-bold">2148.30</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">9.45</td>
                                <td class="text-center fw-bold">Whole Sale Price Tablet/ 5 ml</td>
                                <td class="text-start text-danger fw-bold">8.21</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">21.48</td>
                                <td class="text-center fw-bold">Retail Price, Per Tablet/ 5 ml</td>
                                <td class="text-start text-danger fw-bold">18.26</td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">     <div class="progress justify-content-end">
                                    <div class="progress-bar" 
                                    role="progressbar" 
                                    style="width: 30%;" 
                                    aria-valuenow="30" 
                                    aria-valuemin="0" 
                                    aria-valuemax="100">30%</div>
                                </div>  </td>
                                <td class="text-center fw-bold">Bonus Free Issue</td>
                                <td class="text-start text-danger fw-bold">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" 
                                        role="progressbar" 
                                        style="width: 40%;" 
                                        aria-valuenow="40" 
                                        aria-valuemin="0" 
                                        aria-valuemax="100">40%</div>
                                    </div> 
                                </td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">                                    
                                        <div class="progress justify-content-end">
                                            <div class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 10%;" 
                                            aria-valuenow="10" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">10%</div>
                                        </div>                                    
                                </td>
                                <td class="text-center fw-bold">Market Share</td>
                                <td class="text-start text-danger fw-bold">                                   
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" 
                                            role="progressbar" 
                                            style="width: 25%;" 
                                            aria-valuenow="25" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">25%</div>
                                        </div>                                   
                                </td>       
                            </tr>
                            <tr>
                                <td class="text-end text-primary fw-bold">Yes</td>
                                <td class="text-center fw-bold">Availability</td>
                                <td class="text-start text-danger fw-bold">Yes</td>       
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>
