<div class="row">
    <div class="col-sm-12">
      <app-card
        cardTitle="Add Competitor"
        class="justify-content-center"
        [options]="false"
      >
        <form [formGroup]="competitorForm" action="javascript:">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <app-custom-input
                  label="Enter Competitor Name:"
                  placeholder="Competitor Name"
                  (valueChange)="onCompetitorNameChange($event)"
                >
                </app-custom-input>
              </div>

              <div class="form-group">
                <app-custom-input
                  label="Enter Competitor Email:"
                  placeholder="Email"
                  (valueChange)="onCompetitorEmailChange($event)"
                >
                </app-custom-input>
              </div>

              <div class="form-group">
                <app-custom-input
                  label="Enter Competitor Contact No:"
                  placeholder="Contact No"
                  (valueChange)="onContactNoChange($event)"
                >
                </app-custom-input>
              </div>

              <div class="form-group">
                <app-custom-input
                  label="Enter Remark:"
                  placeholder="Remark"
                  (valueChange)="onRemarksChange($event)"
                >
                </app-custom-input>
              </div>   
              <div class="form-group mt-3 ml-2">
                <button class="btn btn-primary ml-3" (click)="AddCompetitor()" >Submit</button>
                <button class="btn btn-danger">Reset</button>
              </div>      
            </div>  
          </div>
        </form>
      </app-card>
    </div>
  </div>
  
