.icon-button {
    position: relative;
    display: inline-block;

    img {
        width: 50px;
        /* Adjust the size as needed */
        height: 50px;
        cursor: pointer;
        border-radius: 50%;
        /* This makes the image circular */
        object-fit: cover;
        border: 2px solid #000;
    }

    .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #110707;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        /* Position the tooltip above the icon */
        left: 50%;
        margin-left: -60px;
        /* Center the tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip::after {
        content: '';
        position: absolute;
        top: 100%;
        /* Arrow will be below the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .icon-button:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        /* Adjust to place dropdown correctly */
        left: 0;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: small;
        min-width: 250px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 16px;
                cursor: pointer;

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }

    .dropdown-menu.show {
        display: block;
    }
}

.dropdown-icon-image {
    width: 25px !important;
    /* Adjust the size as needed */
    height: 25px !important;
    cursor: pointer;
}