.icon-button {
    position: relative;
    display: inline-block;
    text-align: center;

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rgb(79, 129, 79);
    }

    .category-name-box {
        margin-top: 5px;
        background-color: rgb(79, 129, 79);
        color: white;
        font-size: 0.75em;
        width: 100px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0 8px 16px rgb(79, 129, 79);
        z-index: 1;
        font-size: small;
        color: rgb(79, 129, 79);
        min-width: 200px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 16px;
                cursor: pointer;

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }

    .dropdown-menu.show {
        display: block;
    }
}

.dropdown-icon-image {
    width: 25px !important;
    height: 25px !important;
    cursor: pointer;
}