<div class="row justify-content-center">   
    <div class="col-sm-12">
        <app-card cardTitle="Sales Representative"  [options]="false" >         
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee No</label>
                                <input type="text" class="form-control" placeholder="Employee No" />
                            </div>
                            <div class="form-group">
                                <label>Initials</label>
                                <input type="text" class="form-control" placeholder="Initials" />
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" />
                            </div>                    
                            <div class="form-group">
                                <label>Middile Name</label>
                                <input type="text" class="form-control" placeholder="Middile Name" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" />
                            </div>
                            <div class="form-group">
                                <label>Contact No</label>
                                <input type="text" class="form-control" placeholder="Contact No" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email" />
                            </div>  
                        </div>

                    
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label>Distributor</label>
                                <input type="text" class="form-control" placeholder="Distributor" />
                            </div> 
                            <div class="form-group">
                                <label>Area</label>
                                <input type="text" class="form-control" placeholder="Area" />
                            </div> 
                            <div class="form-group">
                                <label>Range</label>
                                <input type="text" class="form-control" placeholder="Range" />
                            </div> 
                            <div class="form-group">
                                <label>Zone</label>
                                <input type="text" class="form-control" placeholder="Zone" />
                            </div> 
                            <div class="form-group">
                                <label>Brand Coordinator</label>
                                <input type="text" class="form-control" placeholder="Brand Coordinator" />
                            </div> 
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea class="form-control" rows="2"></textarea>
                            </div> 
                            <div class="form-group m-t-10">                                
                                <button class="btn btn-primary">Save</button>
                                <button class="btn btn-danger">Reset</button>
                                <button class="btn btn-link">Go to List</button>
                            </div>
                           
                        </div>
                     
                    </div>
            
                </form>
            </div>
        </app-card>
    </div>
</div>