<div class="row">
    <div class="col-sm-12">
      <app-card
        cardTitle="Add Sub Therapeutic Category"
        class="justify-content-center"
        [options]="false"
      >
        <form [formGroup]="subTherapeuticCategoryForm" action="javascript:">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <app-typeahead
                  [items]="categories"
                  searchItem="Category"
                  (selected)="onTherapeuticCategorySelected($event)"
                ></app-typeahead>
              </div>

              <div class="form-group">
                <app-custom-input
                  label="Enter Sub Therapeutic Category Name:"
                  placeholder="Sub Therapeutic Category Name"
                  (valueChange)="onSubTherapeuticCategoryChange($event)"
                >
                </app-custom-input>
              </div>      
              
              <div class="form-group">
                <app-custom-input
                  label="Enter Remark:"
                  placeholder="Remark"
                  (valueChange)="onRemarksChange($event)"
                >
                </app-custom-input>
              </div>   
              <div class="form-group mt-3 ml-2">
                <button class="btn btn-primary ml-3">Submit</button>
                <button class="btn btn-danger">Reset</button>
              </div>   
            </div>              
          </div>
        </form>
      </app-card>
    </div>
  </div>
  