.poweredby{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     
}
.codeware{
    color: rgb(2, 218, 52);
}
.copyright{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}