<div class="row">
  <div class="col-sm-12">
    <app-card
      cardTitle="Product Master"
      class="justify-content-center"
      [options]="false"
    >
      <form [formGroup]="productsForm" action="javascript:">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-typeahead
                [items]="brandNames"
                searchItem="Brand Name"
                (selected)="onBrandNameSelected($event)"
                [control]="productsForm.controls['brandName']"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="categories"
                searchItem="Theraputic Category"
                (selected)="onCategorySelected($event)"
                [control]="productsForm.controls['category']"
              ></app-typeahead>
            </div>

            <div
              class="form-group"
              *ngIf="subcategories && subcategories.length > 0"
            >
              <app-typeahead
                [items]="subcategories"
                searchItem="Sub Theraputic Category"
                (selected)="onSubCategorySelected($event)"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter product code:"
                placeholder="Product code"
                (valueChange)="onProductCodeChange($event)"
                [control]="productsForm.controls['productCode']"
              >
              </app-custom-input>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter product name:"
                placeholder="Product name"
                (valueChange)="onProductNameChange($event)"
                [control]="productsForm.controls['productName']"
              >
              </app-custom-input>
            </div>

            <div
              class="form-group"
              *ngIf="productList && productList.length > 0"
            >
              <app-typeahead
                [items]="productList"
                searchItem="Product"
                (selected)="onProductSelected($event)"
                [control]="productsForm.controls['productMasterName']"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="genericNameList"
                searchItem="Generic Name"
                (selected)="onGenericNameSelected($event)"
                [control]="productsForm.controls['genericName']"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="manufacturerList"
                searchItem="Manufacturer"
                (selected)="onManufacturerSelected($event)"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="dosageFormList"
                searchItem="Dorsage Form"
                (selected)="onDosageFormSelect($event)"
              ></app-typeahead>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-ingredients-table
                (itemAdded)="onIngredientAdded($event)"
              ></app-ingredients-table>
            </div>
            <div class="form-group">
              <app-photo-upload></app-photo-upload>
            </div>
            <div class="form-group mt-3 ml-2">
              <button
                [disabled]="productsForm.invalid"
                class="btn btn-primary ml-3"
                (click)="onSubmit()"
              >
                Submit
              </button>
              <button class="btn btn-danger" (click)="onReset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
