<div class="row">
  <div class="col-sm-12">
    <app-card
      cardTitle="Product Master"
      class="justify-content-center"
      [options]="false"
    >
      <form [formGroup]="productsForm" action="javascript:">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-custom-input
                label="Enter product name:"
                placeholder="Product name"
              >
              </app-custom-input>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="categories"
                [searchItem]="'category'"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter generic name:"
                placeholder="Generic name"
              >
              </app-custom-input>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="manufacturerList"
                [searchItem]="'manufacturer'"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-typeahead
                [items]="disdtributorList"
                [searchItem]="'distributor'"
              ></app-typeahead>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter Ingredient:"
                placeholder="Ingredient"
              >
              </app-custom-input>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter Composition Name:"
                placeholder="Composition Name"
              >
              </app-custom-input>
            </div>

            <div class="form-group">
              <app-custom-input
                label="Enter Free Issues:"
                placeholder="Free Issues"
              >
              </app-custom-input>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-custom-input
                label="Enter Market Leader:"
                placeholder="Market Leader"
              >
              </app-custom-input>
            </div>
            <div class="form-group">
              <app-custom-input
                label="Enter Market Share:"
                placeholder="Market Share"
              >
              </app-custom-input>
            </div>
            <div class="form-group">
              <app-custom-input
                label="Enter Other Information:"
                placeholder="Other Info"
              >
              </app-custom-input>
            </div>
            <div class="form-group">
              <app-custom-input label="Enter SWOT:" placeholder="SWOT">
              </app-custom-input>
            </div>
            <div class="form-group">
              <app-custom-input
                label="Enter Average Sales Qty:"
                placeholder="Average Sales Qty"
              >
              </app-custom-input>
            </div>
            <div class="form-group">
              <app-photo-upload></app-photo-upload>
            </div>
            <div class="form-group mt-3">
              <button class="btn btn-primary mb-4">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
