.color-picker {
  position: relative;
  display: inline-block;

  .input-group {
    display: flex;
    flex-direction: column; // Changed to column to align label on top
    align-items: flex-start; // Align items to the start to ensure label is properly aligned

    .form-label {
      margin-bottom: 0.5rem; // Space between label and input
    }

    .form-control {
      border-radius: 0;
    }

    .input-group-append {
      display: flex;
      align-items: center;

      .color-input {
        width: 40px; // Adjust as needed
        height: 36px; // Adjust as needed
        padding: 0;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: -1px; // To remove the gap between text input and color input
      }
    }
  }
}
