// .fixed-size-image {
//     width: 150px;
//     height: 150px;
// }

.fixed-size-card {
  width: 200px;
  height: 250px;
}

.fixed-size-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
